# Arquivos e pastas gerados automaticamente pelo Jekyll 
.jekyll-cache/ 
_site/ 
.bundle/ 
vendor/ 
# Logs e arquivos de sistema 
*.log 
.DS_Store 
Thumbs.db 
# Configura‡Æo de IDEs 
.idea/ 
.vscode/ 
