/* Fundo escuro e texto branco para o site */
body {
  background-color: #000; /* Fundo preto */
  color: #fff;           /* Texto branco */
}

/* Estilo para blocos de código */
pre, code {
  background-color: #111; /* Fundo dos blocos de código */
  color: #1e90ff;         /* Texto do código */
  border-radius: 5px;
  padding: 10px;
  display: block;
  overflow-x: auto;
}

/* Fonte para blocos de código */
code {
  font-family: monospace;
  font-size: 14px;
}